{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<div>
    <div class="container">
        <h2>List Kendaraan</h2>       
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nomor</th>
              <th>Nama</th>
              <th>Jenis Kendaraan</th>
              <th>Berat Maksimal</th>
              {% if is_admin %}
                <th>Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% if is_admin %}
              {% for i in list_kendaraan %}
              <tr>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td >
                  <div class="btn-group-vertical">
                      <a href="{% url 'update_kendaraan_views' i.0%}"><button type="button" class="btn btn-primary">Update</button></a>
                      <a href="{% url 'delete_kendaraan_views' i.0%}"><button type="button" class="btn btn-danger">Delete</button></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            {% else %}
              {% for i in list_kendaraan %}
              <tr>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
              </tr>
              {% endfor %}
            {% endif %}
            
          </tbody>
        </table>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

</div>

<!-- Untuk message/alert -->

{% endif %}
{% endblock %}