{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div class="container" style="padding-left: 25%; padding-right: 25%; padding-bottom: 25%;">
  <form action="/t4/tambah-lokasi" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>FORM TAMBAH LOKASI</h1>
        <hr>
        
        <label for="id"><b>Nomor ID</b></label>
        <input type="text" name="id" id="id" value="Loc{{ list_id_lokasi|length|add:1 }}" required readonly>

        <table>
          <tr>
            <td>
              <label for="provinsi"><b>Provinsi</b></label>
            </td>
            <td>
              <select class="form-group" name="provinsi" id="provinsi" placeholder="Pilih provinsi..." required>
                <option value="" selected>Pilih provinsi...</option>
                {% for provinsi in list_provinsi %}
                <option value= "{{ provinsi.0 }}">{{ provinsi.0 }}</option>"
                {% endfor %}
              </select>
            </td>
          </tr>
        </table>
        <BR>
    
        <label for="kab_kota"><b>Kabupaten/Kota</b></label>
        <input type="text" name="kab_kota" id="kab_kota" required>

        <label for="kecamatan"><b>Kecamatan</b></label>
        <input type="text" name="kecamatan" id="kecamatan" required>

        <label for="kelurahan"><b>Kelurahan</b></label>
        <input type="text" name="kelurahan" id="kelurahan" required>

        <label for="jalan_no"><b>Jalan</b></label>
        <input type="text" name="jalan_no" id="jalan_no" required>
    
        <button type="submit" class="registerbtn">SIMPAN</button>
      </div>
      
    </form>
</div>
{% endblock %}