{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">

    {% block style %}{% endblock %}
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block navbar %}{% include 'base/navbar.html' %}{% endblock %}
    
    {% block content %}{% endblock %}
</body>

</html>

