<div class="topnav">
    <a class="active" href="/">Home</a>
    <a class="active" href="/about">About</a>
    {% if is_authenticated %}
      <a class="active" href="{% url 'edit' %}">Profil</a>
    {% endif %}
  
    {% if not is_authenticated %}
    <a href="/register-admin">Register Admin Satgas</a>
    <a href="/register-supplier">Register Supplier</a>
    <a href="/register-petugas-distribusi">Register Petugas Distribusi</a>
    <a href="/register-faskes">Register Petugas Faskes</a>
    {% endif %}
  
    <div class="login-container">
      {% if is_authenticated %}
      <form action="/logout">
        <button type="submit">Logout</button>
      </form>
      {% else %}
      <form action="/login">
        <button type="submit">Login</button>
      </form>
      {% endif %}
  
    </div>
  </div>