{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:26px">

  {% if is_authenticated %}
    <h1>Menu</h1>

    <div class="vertical-menu">
      <!-- t2 -->
        <a href="/sumberdaya">MENUJU KE LAMAN TRIGGER NOMOR 2</a>
        <ul>
          <li>CRUD Permohonan Sumber Daya</li>
          <li>CR Riwayat Status Permohonan Sumber Daya</li>
          <li>CRUD Item Sumber Daya</li>
        </ul>
        </br>
      
        <!-- t3 -->
        <a href="/t3">MENUJU KE LAMAN TRIGGER NOMOR 3</a>
        <ul>
          <li>CRUD Pesanan Sumber Daya </li>
          <li>CR Riwayat Status Pesanan Sumber Daya</li>
          <li>CRUD Stock Fasilitas Kesehatan</li>
        </ul>
        </br>
  
        <!-- t4 -->
        <a href="/t4">MENUJU KE LAMAN TRIGGER NOMOR 4</a>
        <ul>
          <li>CRUD Kendaraan </li>
          <li> Create Batch Pengiriman (Validasi jumlah saja)</li>
          <li>CRU Lokasi</li>
        </ul>
        </br>
  
        <!-- t5 -->
        <a href="/satgas">MENUJU KE LAMAN TRIGGER NOMOR 5</a>
        <ul>
          <li>CRUD Fasilitas Kesehatan</li>
          <li>CRUD Warehouse Satgas</li>
          <li>Create Batch Pengiriman (Penentuan lokasi asal dan tujuan pengiriman)</li>
        </ul>
        </br>
  
        <!-- t3 -->
        <a href="/t6">MENUJU KE LAMAN TRIGGER NOMOR 6</a>
        <ul>
          <li>CRUD Stock Warehouse Satgas</li>
          <li>CR Batch Pengiriman (Validasi 
            ketersediaan stock)</li>
          <li>CR Riwayat Status Pengiriman</li>
        </ul>
        </br>
  {% endif %}

  </div>
  
</div>

{% endblock %}
