{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/login.css' %}">
{% endblock %}

{% block content %}
<div>
  <form action="/login" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>Login</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
    
        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        <hr>
    
        <button type="submit" class="registerbtn">login</button>
      </div>
    
      {% if false_password %}
      <div class="container signin">
        <p style="color: red;">Password yang anda masukan salah atau user belum terdaftar</p>
      </div>  
      {% endif %}
    
    
    </form>


</div>
{% endblock %}