{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:26px">

  {% if is_authenticated %}
    <h1>Urus Permohonan dan Item Sumber Daya</h1>
      <h4>TNo2</h4>




  <div class="vertical-menu">
    {% if is_admin_satgas %}
    <p>Hai, {{ username }} kamu adalah admin.</p>
    <h2>Permohonan Sumber Daya</h2>
    <a href="/sumberdaya/permohonan">Lihat Permohonan Sumber Daya (R)</a>
    </br>
    <h2>Riwayat Status Permohonan Sumber Daya</h2>
    <a href="/sumberdaya/permohonan">Riwayat Status Permohonan Sumber Daya (CR)</a>
    </br>
    <h2>Item Sumber Daya</h2>
    <a href="/sumberdaya/item">Item Sumber Daya (R)</a>
    {% endif %}

    {% if is_supplier %}
    <p>Hai, {{ username }} kamu adalah supplier.</p>
    <h2>Permohonan Sumber Daya</h2>
    <a href="#">Permohonan Sumber Daya (Unaccessible)</a>
    </br>
    <h2>Riwayat Status Permohonan Sumber Daya</h2>
    <a href="#">Riwayat Status Permohonan Sumber Daya (Unaccessible)</a>
    </br>
    <h2>Item Sumber Daya</h2>
    <a href="/sumberdaya/item">Item Sumber Daya (CRUD)</a>
    {% endif %}

    {% if is_petugas_faskes %}
    <p>Hai, {{ username }} kamu adalah petugas faskes.</p>
    <h2>Permohonan Sumber Daya</h2>
    <a href="/sumberdaya/permohonan">Buat/Lihat /Update/Hapus Permohonan Sumber Daya (CRUD)</a>
    </br>
    <h2>Riwayat Status Permohonan Sumber Daya</h2>
    <a href="#">Lihat Riwayat Status Permohonan Sumber Daya (R)</a>
    </br>
    <h2>Item Sumber Daya</h2>
    <a href="#">Item Sumber Daya (Unaccessible)</a>
    {% endif %}

    {% if is_petugas_distribusi %}
        <p>Hai, {{ username }} kamu adalah petugas distribusi.</p>
    {% endif %}

  </div>
  
</div>

  {% else %}
      Kamu tidak boleh ada disini.
  {% endif %}
  
<br><br><br>
{% endblock %}