{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<div>
<div class="container">
    <h2>Daftar Item</h2>
    <br>

    {% if request.session.role_this_user == "SUPPLIER"%}
        <a href="/sumberdaya/item/create"><u>Tambahkan Item</u></a>
        <br>
    {% endif %}
    <p>Hai {{request.session.member_id}}. Kamu adalah {{request.session.role_this_user}}.</p>

        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>Kode</th>
                    <th>Supplier</th>
                    <th>Nama Item</th>
                    <th>Harga Satuan</th>
                    <th>Berat Satuan</th>
                    <th>Tipe Item</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% block table %}
                  {% endblock %}
                    {% for kode, supplier, nama, harga, berat, tipe in items %}
                    <tr class="table-light">
                        <td>{{ kode }}</td>
                        <td>{{ supplier }}</td>
                        <td>{{ nama }}</td>
                        <td>{{ harga }}</td>
                        <td>{{ berat }}</td>
                        <td>{{ tipe }}</td>
                        <td>
                            {% if request.session.role_this_user == "SUPPLIER" and request.session.member_id == supplier %}
                            <a href="/sumberdaya/item/update/{{ kode }}"><u>Update</u></a> |
                            <a href="/sumberdaya/item/delete/{{ kode }}"><u>Delete</u></a>

                            {% endif %}
                        </td>

                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
</div>
</div>

{% endblock %}
