{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">

<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div>

  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

  <form action="/sumberdaya/permohonan/create" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>Buat Permohonan Sumber Daya</h1>
        <hr>

        <label for="nomor_transaksi_fake"><b>Nomor Transaksi</b></label>
        <input type="text" id="nomor_transaksi_fake" name="nomor_transaksi_fake" value="{{notranscoded}}"
               class="form-width form-control" placeholder="{{notranscoded}}" required disabled>
        <br>

        <input type="hidden" id="nomor_transaksi" name="nomor_transaksi" value="{{notrans}}"
               class="form-width form-control" placeholder="{{notrans}}" required disabled>

        <label for="petugas"><b>Nama Petugas Faskes</b></label>
        <input type="text" id="petugas" name="petugas" value="{{request.session.member_id}}"
               class="form-width form-control" placeholder="{{request.session.member_id}}" required disabled>
        <br>
        <hr>

        <h2>Tambah Permohonan Item:</h2>

        <select id="kode_item" name="kode_item" required>
            <option value="">Pilih Kode Item</option>
            {% for kode_item in code %}
                <option value="{{kode_item.0}}">{{kode_item.0}}</option>
            {% endfor %}
        </select>
        <br>
        <hr>

        <label for="jumlah"><b>Jumlah Item</b></label>
        <input type="text" id="jumlah" name="jumlah"
               class="form-width form-control" placeholder=2 required>
        <br>
        <hr>

        <label for="catatan"><b>Catatan</b></label>
        <input type="text" id="catatan" name="catatan"
               class="form-width form-control">
        <br>
        <hr>


        <button type="submit" class="registerbtn">Simpan</button>
      </div>

    </form>
</div>

{% endblock %}