{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<div>
<div class="container">
    <h2>Daftar Permohonan Sumber Daya Faskes</h2>
    <br>

    {% if request.session.role_this_user == "PETUGAS_FASKES"%}
        <a href="/sumberdaya/permohonan/create"><u>Tambahkan Permohonan</u></a>
        <br>
    {% endif %}
    <p>Hai {{request.session.member_id}}. Kamu adalah {{request.session.role_this_user}}.</p>

        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>Nomor Transaksi</th>
                    <th>Faskes</th>
                    <th>Tanggal</th>
                    <th>Total Item</th>
                    <th>Total Berat</th>
                    <th>Catatan</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% block table %}
                  {% endblock %}
                    {% for no , username , catatan, tanggal, ti, tb, status in permohonans %}
                    <tr class="table-light">
                        <td>TREQ{{ no|stringformat:"03d" }}</td>
                        <td>{{ username }}</td>
                        <td>{{ tanggal }}</td>
                        <td>{{ tb }}</td>
                        <td>{{ ti }}</td>
                        <td>{{ catatan }}</td>
                        <td>{% if status %}
                            {{ status }}
                            <br>
                            {% else %}
                            REQ
                            <br>
                            {% endif %}
                        </td>
                        <td>
                            {% if request.session.role_this_user == "PETUGAS_FASKES" and status == "REQ" %}
                            <a href="/sumberdaya/permohonan/update/{{ no }}"><u>Update</u></a> |
                            <a href="/sumberdaya/permohonan/delete/{{ no }}"><u>Delete</u></a>
                            <br>
                            {% endif %}
                            {% if request.session.role_this_user == "PETUGAS_FASKES" and status is None %}
                            <a href="/sumberdaya/permohonan/update/{{ no }}"><u>Update</u></a> |
                            <a href="/sumberdaya/permohonan/delete/{{ no }}"><u>Delete</u></a>
                            <br>
                            {% endif %}
                            {% if request.session.role_this_user == "ADMIN_SATGAS" and status == "REQ" %}
                            <a href="/sumberdaya/permohonan/update/{{ no }}"><u>Reject</u></a> |
                            <a href="/sumberdaya/permohonan/delete/{{ no }}"><u>Process</u></a>
                            <br>
                            {% endif %}
                            {% if request.session.role_this_user == "ADMIN_SATGAS" and status is None %}
                            <a href="/sumberdaya/permohonan/update/{{ no }}"><u>Reject</u></a> |
                            <a href="/sumberdaya/permohonan/delete/{{ no }}"><u>Process</u></a>
                            <br>
                            {% endif %}
                            {% if request.session.role_this_user == "ADMIN_SATGAS" and status == "PRO" %}
                            <a href="/sumberdaya/permohonan/update/{{ no }}"><u>Selesai dengan Masalah</u></a> |
                            <a href="/sumberdaya/permohonan/delete/{{ no }}"><u>Selesai</u></a>
                            <br>
                            {% endif %}
                            {% if request.session.role_this_user == "ADMIN_SATGAS" or request.session.role_this_user == "PETUGAS_FASKES" %}
                            <a href="#" onClick="alert('Detail ada di samping kiri kamu persis!')"><u>Detail</u></a> |
                            <a href="/sumberdaya/permohonan/delete/{{ no }}"><u>Riwayat Status</u></a>
                            {% endif %}
                        </td>

                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
</div>
</div>

{% endblock %}
