{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">

<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div>
  <form action="t3/pesanan-sumber-daya/tambah" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>FORM PESANAN SUMBER DAYA</h1>
        <hr>
    
        <label for="no_transaksi"><b>Nomor transaksi</b></label>
        <input type="text" name="no_transaksi" id="no_transaksi" value="{{ no_transaksi }}" required readonly>
    
        <label for="Petugas"><b>Petugas</b></label> 
        <input type="text" name="Petugas" id="Petugas" value="{{ Petugas }}" required readonly>
        <br>

        <label for="Supplier"><b>Pilih Supplier</b></label>
        <select name="Supplier" id="Supplier" placeholder="Pilih Supplier..." required>
            <option value="" selected>Pilih Supplier...</option>
            {% for s in Supplier %}
            <option value= "{{ s.0 }}">{{ s.0 }}</option>"
            {% endfor %}
        </select>
        </br>

        <h3>Tambah Pesanan Sumber Daya</h3>
            <label for="no_urut"><b>Pilih no_urut</b></label>
            <input type="text" name="no_urut" id="no_urut" value="{{ no_urut }}" required readonly>

            <label for="kode"><b>Kode Item:</b></label>
            <select name="kode_item" id="kode_item" placeholder="Pilih kode_item..." required>
                {% for kode in list_kode %}
                    <option value= "{{ kode.0 }}">{{ kode.0 }}</option>"
                {% endfor %}
            </select>

            <label for="Jumlah item:"><b>Jumlah item::</b></label>
            <input type="text" name="jumlah_item" id="jumlah_item" required>
        <hr>
    
        <button type="submit" class="registerbtn">TAMBAH</button>
      </div>
      
    </form>
</div>

<script>
  $(document).ready(function() {
    $('select').selectize({
          sortField: 'text'
      });
    
    $('#id_lokasi').on('change', function (e) {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;

      set_lokasi(valueSelected);
    });

    function set_lokasi(id) {
      if(id == "") {
        lokasi = "---";
      }
      
      $.ajax({
        type: "GET",
        url: "/satgas/get_lokasi/" + id,
        dataType: 'json',
        success: function(response) {
          console.log(response);

          $('input[name=lokasi]').val(response);
        }
      });
	}

});
</script>
{% endblock %}