{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:26px">

  {% if is_authenticated %}
    <h1>Menu</h1>
  {% endif %}



  <div class="vertical-menu">

    {% if is_admin_satgas %}
        <!-- KENDARAAN -->
        <h2>KENDARAAN</h2>
        <a href="/t4/tambah-kendaraan">TAMBAH KENDARAAN</a>
        <a href="/t4/list-kendaraan">LIST KENDARAAN</a>
        </br>

        <!-- LOKASI -->
        <h2>LOKASI</h2>
        <a href="/t4/tambah-lokasi">TAMBAH LOKASI</a>
        <a href="/t4/list-lokasi">LIST LOKASI</a>
        </br>

        <!-- BATCH_Pengiriman -->
        <!-- <h2>BATCH PENGIRIMAN</h2>
        <a href="/satgas/batch_pengiriman">LIST BATCH PENGIRIMAN</a>
    {% elif is_supplier %}
        <h2>FASKES</h2>
        <a href="/satgas/list-faskes">LIST FASKES</a>
        </br> -->
    {% endif %}

  </div>
  
</div>

  
  


{% endblock %}