{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:26px">

  {% if is_authenticated %}
    <h1>Menu</h1>
  {% endif %}



  <div class="vertical-menu">

    {% if is_admin_satgas %}
        <!-- SATGAS -->
        <h2>FASKES</h2>
        <a href="/satgas/tambah-faskes">TAMBAH FASKES</a>
        <a href="/satgas/list-faskes">LIST FASKES</a>
        </br>

        <!-- WAREHOUSE -->
        <h2>WAREHOUSE SATGAS</h2>
        <a href="/satgas/tambah-warehouse-satgas">TAMBAH WAREHOUSE SATGAS</a>
        <a href="/satgas/list-warehouse">LIST WAREHOUSE SATGAS</a>
        </br>

        <!-- BATCH_Pengiriman -->
        <h2>BATCH PENGIRIMAN</h2>
        <a href="/satgas/batch_pengiriman">LIST BATCH PENGIRIMAN</a>
    {% elif is_supplier %}
        <h2>FASKES</h2>
        <a href="/satgas/list-faskes">LIST FASKES</a>
        </br>

        <h2>WAREHOUSE SATGAS</h2>
        <a href="/satgas/list-warehouse">LIST WAREHOUSE SATGAS</a>
        </br>
    {% endif %}

  </div>
  
</div>

  
  


{% endblock %}