{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<div>
    <div class="container">
        <h2>List Riwayat Status Pengiriman</h2>       
        <table class="table table-bordered" id="incerement">
          <thead>
            <tr>
              <th>No</th>
              <th>Kode Status</th>
              <th>Status</th>
              <th>Username Admin Satgas</th>
              <th>Tanggal</th>
            </tr>
          </thead>
          <tbody>
            {% for i in daftar_riwayat %}
            <tr>
            <td> </td>
            <td>{{ i.0 }}</td>
            <td>{{ i.1 }}</td>
            <td>{{ i.2 }}</td>
            <td>{{ i.3 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    

</div>

<!-- Untuk message/alert -->

{% endif %}
{% endblock %}
