{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<div>
    <div class="container">
        <h2>List Stok Warehouse Satgas</h2>       
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Lokasi</th>
              <th>Jumlah Stok</th>
              <th>Tipe Item</th>
              {% if is_admin %}
                <th>Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% if is_admin %}
              {% for i in list_stok_warehouse_satgas %}
              <tr>
                <td>{{ i.0 }}, {{ i.1 }}, {{ i.2 }}, {{ i.3 }}, {{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.6 }}</td>
                <td >
                  <div class="btn-group-vertical">
                      <a href="{% url 'update_stok_warehouse_satgas_views' i.7%}"><button type="button" class="btn btn-primary">Update</button></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            {% else %}
              {% for i in list_stok_warehouse_satgas %}
              <tr>
                <td>{{ i.0 }}, {{ i.1 }}, {{ i.2 }}, {{ i.3 }}, {{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.6 }}</td>
              </tr>
              {% endfor %}
            {% endif %}
            
          </tbody>
        </table>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

</div>

<!-- Untuk message/alert -->

{% endif %}
{% endblock %}