{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">

<!-- ajax --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div>
  <form action="/t6/tambah-stock-warehouse-satgas/" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>FORM TAMBAH STOK WAREHOUSE SATGAS</h1>
        <hr>
    
        <label for="lokasi"><b>Lokasi</b></label>
        <select name="id_lokasi" id="id_lokasi" placeholder="Pilih id lokasi..." required>
          <option value="" selected>Pilih id lokasi...</option>
          {% for id in list_id_lokasi %}
            <option value= "{{ id.0 }}">{{ id.0 }}</option>"
          {% endfor %}
        </select>

        <label for="jumlah"><b>Jumlah Stok</b></label>
        <input type="text" name="jumlah" id="jumlah" required>

        <label for="kode_item_SD"><b>Kode Item :</b></label>
        <select name="kode_item_SD" id="kode_item_SD" placeholder="Pilih Kode Item" required>
            <option value="" selected>Pilih Kode Item</option>
            {% for item in list_kode_item %}
            <option value= "{{ item.0 }}">{{ item.1 }}</option>"
            {% endfor %}
        </select>
        </br>
                                    
        <hr>
    
        <button type="submit" class="registerbtn">SIMPAN</button>
      </div>
      
    </form>
</div>

<script>
  $(document).ready(function() {
    $('select').selectize({
          sortField: 'text'
      });
    
    $('#id_lokasi').on('change', function (e) {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;

      set_lokasi(valueSelected);
    });

    function set_lokasi(id) {
      if(id == "") {
        lokasi = "---";
      }
      
      $.ajax({
        type: "GET",
        url: "/t6/get_lokasi/" + id,
        dataType: 'json',
        success: function(response) {
          console.log(response);

          $('input[name=lokasi]').val(response);
        }
      });
	}

});
</script>
{% endblock %}