{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:26px">

  {% if is_authenticated %}
    <h1>Menu</h1>
  {% endif %}



  <div class="vertical-menu">

    {% if is_admin_satgas %}
        <!-- STOK WAREHOUSE --> 
        <h2>STOCK WAREHOUSE</h2>
        <a href="/t6/tambah-stock-warehouse-satgas">TAMBAH STOCK WAREHOUSE SATGAS</a>
        <a href="/t6/list-stock-warehouse-satgas">LIST STOCK WAREHOUSE SATGAS</a>

        <!-- BATCH_Pengiriman -->
        <h2>BATCH PENGIRIMAN</h2>
        <a href="/satgas/batch_pengiriman">LIST BATCH PENGIRIMAN</a>
        <a href="/t6/list-riwayat">LIST RIWAYAT BATCH PENGIRIMAN</a>


    {% elif is_petugas_distribusi %}
        <!-- BATCH_Pengiriman -->
        <h2>BATCH PENGIRIMAN</h2>
        <a href="/t6/view_batch_pengiriman">LIST BATCH PENGIRIMAN</a>
        <h2>RIWAYAT BATCH PENGIRIMAN</h2>
        <a href="/t6/list-riwayat">LIST RIWAYAT BATCH PENGIRIMAN</a>

    {% elif is_petugas_faskes %}
        <!-- STOK WAREHOUSE -->
        <h2>STOCK WAREHOUSE</h2>
        <a href="/t6/list-stock-warehouse-satgas">LIST STOCK WAREHOUSE SATGAS</a>

        <!-- BATCH_Pengiriman -->
        <h2>BATCH PENGIRIMAN</h2>
        <a href="/t6/view_batch_pengiriman">LIST BATCH PENGIRIMAN</a>
    {% endif %}

  </div>
  
</div>


{% endblock %}