{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



{% endblock %}

{% block content %}

<div>
    {% if is_processing %}
    <form action="{% url 'create_batch_pengiriman' nomor %}" method="POST">
        {% csrf_token %}
        <div class="container " style="padding-left: 25%; padding-right: 25%;">
            <h1>FORM BATCH PENGIRIMAN</h1>
            <hr>
            
            <label for="petugas_satgas"><b>Petugas Satgas</b></label>
            <input type="text" name="petugas_satgas" id="petugas_satgas" value="{{ petugas_satgas }}" required readonly>

            <label for="nomor"><b>Nomor Transaksi Sumber Daya</b></label>
            <input type="text" name="nomor" id="nomor" value="{{ nomor }}" required readonly>

            <label for="berat"><b>Total Berat</b></label>
            <input type="text" name="berat" id="berat" value="{{ berat.0.0 }}" required readonly>

            <h2>Buat Batch Pengiriman:</h2>

            <label for="kode"><b>Kode Batch</b></label>
            <input type="text" name="kode" id="nomor" value="{{ kode }}" required readonly>

            <label for="kendaraan"><b>Pilih Kendaraan:</b></label>
            <select name="kendaraan" id="kendaraan" placeholder="Pilih Kendaraan..." required>
                <option value="" selected>Pilih kendaraan...</option>
                {% for kendaraan in list_kendaraan %}
                <option value="{{ kendaraan.0 }}">{{ kendaraan.1 }}</option>
                {% endfor %}
            </select>
            
            <label for="petugas_distribusi"><b>Pilih Petugas Distribusi</b></label>
            <select name="petugas_distribusi" id="petugas_distribusi" placeholder="Pilih Petugas Distribusi..." required>
                <option value="" selected>Pilih Petugas Distribusi...</option>
                {% for petugas_distribusi in list_petugas_distribusi %}
                <option value= "{{ petugas_distribusi.0 }}">{{ petugas_distribusi.1 }}</option>
                {% endfor %}
            </select>
            </br>                                    
            <hr>
            
            <button type="submit" class="registerbtn">TAMBAH</button>
            
        </div>
    </form>
    {% endif %}

<div>
    <!-- Tabel Daftar Batch Pengiriman: -->
    <div class="container">
        <h2>Daftar Batch Pengiriman:</h2>
                   
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>Kode Batch</th>
                <th>Kendaraan</th>
                <th>Petugas Distribusi</th>
                <th>Asal</th>
                <th>Tujuan</th>
            </tr>
          </thead>
          <tbody>
            {% for i in daftar_batch %}
            <tr>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>    
</div>    


    {% if is_processing %}
    <form action="{% url 'simpan_daftar_batch_pengiriman' nomor %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="registerbtn">SIMPAN</button>
    </form>
    {% endif %}

</div>



<script>
    $(document).ready(function() {
      $('select').selectize({
            sortField: 'text'
        });
  
      // set id_lokasi option base on provinsi
      $('#provinsi').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;
  
        set_id_lokasi(valueSelected);
      });  
  
      function set_id_lokasi(provinsi) {      
        $.ajax({
          type: "GET",
          url: "/satgas/get_id_lokasi_from_provinsi/" + provinsi,
          dataType: 'json',
          success: function(response) {
              $.each(response, function (i, item) {
                  console.log(item);
                  $('#id_lokasi').append($('<option>', { 
                      value : item,
                      text : item
                  }));
                  
              });
              console.log($('#id_lokasi'));
  
              $.each(response, function(key, value) {   
                  console.log(value);
                  $('#id_lokasi')
                      .append($("<option></option>")
                                  .attr("value", value)
                                  .text(value)); 
              });
          }
          
        });
      }
      
  
      // set lokasi value general
      $('#id_lokasi').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;
  
        set_lokasi(valueSelected);
      });
      function set_lokasi(id) {
        if(id == "") {
          lokasi = "---";
        }
        $.ajax({
          type: "GET",
          url: "/satgas/get_lokasi/" + id,
          dataType: 'json',
          success: function(response) {
            console.log(response);
  
            $('input[name=lokasi]').val(response);
          }
        });
      }
  });
  </script>
{% endblock %}