{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<div>
    <div class="container">
        <h2>Permohonan Sumber Daya</h2>       
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No. Transaksi</th>
              <th>Petugas Faskes</th>
              <th>Faskes</th>
              <th>Total Berat(kg)</th>
              <th>Status Permohonan</th>
              <th>Status Batch</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in list %}
            <tr>
            <td>{{ i.0 }}</td>
            <td>{{ i.1 }}</td>
            <td>{{ i.2 }}</td>
            <td>{{ i.3 }}</td>
            <td>{{ i.4 }}</td>
            <td>{{ i.5 }}</td>
            
            <td >
                <div class="btn-group-vertical">
                    {% if i.4 == 'PRO' %}
                    <a href="{% url 'create_batch_pengiriman' i.0 %}"><button type="button" class="btn btn-primary">Buat Batch</button></a>
                    {% endif %}
                    {% if i.4 == 'FIN' or i.4 == 'MAS' %}
                    <a href="{% url 'create_batch_pengiriman' i.0 %}"><button type="button" class="btn btn-primary">Detail</button></a>
                    {% endif %}
                    {% if i.5 == 'PRO' or i.5 == 'OTW' %}
                    <a href="{% url 'buat_riwayat_pengiriman_views' i.0 %}"><button type="button" class="btn btn-primary">Ubah Status</button></a>
                    {% endif %}
                    {% if i.5 != null %}
                    <a href="{% url 'list_riwayat_pengiriman_views' i.0 %}"><button type="button" class="btn btn-primary">Riwayat Status</button></a>
                    {% endif %}
                    
                </div>
            </td>
            
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    

</div>

<!-- Untuk message/alert -->

{% endif %}
{% endblock %}
